.monthlyOutflowTable {
  max-height: 40vmin;
  height: auto;
  width: 71vmax auto;
  margin: 10px 0px 0px 0px;
  text-align: center;
  overflow: auto;
}
.title {
  background-color: #3784d2d4;
  margin: 2px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  position: sticky;
  top: 0;
  left: 0;
  display: block;
}
.incomeResult {
  background-color: rgba(0, 128, 0, 0.591) !important;
}
thead {
  position: sticky;
  top: 30px;
}
.categoryColumn {
  position: sticky;
  left: 0px;
}
