.errorMessage {
  text-align: start;
}

.headStudentsName {
  display: grid;
  grid-template-columns: 66.6% 33.3%;
}

.courseStudentsTable {
  max-height: 85vmin;
  height: auto;
  width: 30vw !important;
  border: 1px solid black !important;
  border-radius: 5px;
  margin: 2vh;
  display: inline-block;
  margin-top: 55px;

  thead {
    height: auto;
    width: 100%;
    text-align: center;
    display: table;
    box-sizing: content-box;

    th {
      border-bottom: 1px solid black !important;
    }
  }

  tbody {
    max-height: 70vmin;
    height: auto;
    width: 100%;
    border-bottom: 0.5px solid rgb(173, 165, 165);
    overflow-y: scroll;
    display: block;
  }

  tfoot {
    margin: 10px;
    height: auto;
    float: right;
    Button {
      background-color: #198754;
    }
  }
}
