.dailyCashflowContainer {
  max-height: 85vh;
  max-width: 70vw;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2vh 2vh 2vh 2vh;
  margin: 60px 2vh 2vh 2vh;
  display: block;

  .dateStyle {
    height: 50px;
  }

  .tableContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35px 55vh;
    grid-column-gap: 5px;

    p {
      height: 35px;
      font-size: 20px;
      font-weight: bold;
      background-color: #3784d2d4;
      border: 1px solid rgb(0, 0, 0);
      border-radius: 5px;
      text-align: center;
      margin-right: 5px;
    }

    .detailsContainer {
      width: 90%;
    }
    .paymentMethod {
      width: 20%;
    }

    .incomeTable {
      height: 100%;
      overflow-y: auto;
      display: block;
      thead {
        text-align: center;
        position: sticky;
        top: 0;
      }
      tbody {
        text-align: center;
      }
    }

    .outflowTable {
      height: 100%;
      overflow-y: auto;
      display: block;
      thead {
        text-align: center;
        position: sticky;
        top: 0;
      }
      tbody {
        text-align: center;
      }
    }
  }
  .resultsContainer {
    display: block;
    text-align: center;
    b {
      width: 170px;
      display: inline-block;
      // margin: 0px 0px 0px 30px;
    }
    span {
      width: 140px;
      display: inline-block;
      border: 1px solid black;
      border-radius: 5px;
      margin: 0px 0px 0px 0px;
    }
    .operators {
      text-align: end;
      margin: 0px 10px 0px 10px;
      width: 10px;
    }
  }
}

// grid-column: 1/2;
// grid-row: 2/3;
// overflow: auto;
// margin-right: 2px;
// position: sticky;
// top: 0;
