#error-page {
  justify-content: center;
  margin-top: 20vh;
  margin-left: 2vw;
  text-align: center;

  h2.header {
    font-size: 6vw;
    position: relative;
    margin-bottom: 20px;
  }
  h2.header:after {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 0;
    right: 0;
    background: #d8000c;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h4 {
    font: bold;
    font-size: 25px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: black;
    position: relative;
  }
  h4:after {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 0;
    right: 0px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btns {
    border: 1px solid #0b1013;
    color: white;
    background-color: #797c7c;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 25px;
    text-transform: uppercase;
    cursor: pointer;
    display: unset;
  }
  .btns:hover {
    background: #0b1013;
    color: #fff;
  }
}
